@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
  font-family: "Fira Code", monospace;

  &::-webkit-scrollbar {
    display: none;
    appearance: none;
  }
  &::-webkit-scrollbar-thumb {
    appearance: none;
    background-color: #4caf50;
  }
  &::-webkit-scrollbar-track {
    appearance: none;
    -webkit-box-shadow: inset 0 0 6px #c7c7c7;
    background-color: #f5f5f5;
  }
}

.c-scrollbar {
  display: none !important;
}
.hero {
  background: linear-gradient(to right, #4caf50, #81c784);
  color: white;
  padding: 60px 20px;
  text-align: center;
  border-radius: 0 0 20px 20px;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 1.7;
  }
}

a {
  display: inline-block;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.section-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}
p,
ul li,
ol li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}
code {
  background-color: #eee;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 90%;
}

section {
  padding: 100px;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
  &:nth-child(even) {
    background-color: #f8f9fa;
  }

  .box {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

pre {
  margin-bottom: 30px;
}

.btn-download {
  background-color: #388e3c;
  color: white;
  font-weight: 600;
}

footer {
  padding: 20px;
  background: #343a40;
  color: white;
  text-align: center;
}
